RewriteEngine On

# Redirigir a index.html para todas las rutas, excepto archivos o directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Proteger archivos sensibles
<FilesMatch "\.env|\.git|\.gitignore|\.npmrc">
    Order deny,allow
    Deny from all
</FilesMatch>

# Redirigir a HTTPS si no está habilitado
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
